@font-face {
  font-family: Harmony;
  src: url(font/HarmonyOS_Sans_SC_Regular.ttf);
}

body {
  font-family: Harmony, sans-serif;
  background-color: #222;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  user-select: none;
}

h1 {
  margin-top: 0px;
}

.group {
  background-color: rgb(39, 39, 39);
  width: max-content;
  padding: 50px;
  border-radius: 5px;
  font-size: 30px;
  overflow: auto;
  max-width: 300px;
}

.group:hover {
  background-color: rgb(45, 45, 45);
  cursor: pointer;
}

.selected {
  background-color: rgb(35, 49, 37);
}

.selected:hover {
  background-color: rgb(35, 49, 37);
}

#start,
#show {
  background-color: rgb(39, 39, 39);
  width: max-content;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 40px;
}

#start:hover,
#show:hover,
.yes-no:hover {
  background-color: rgb(45, 45, 45);
  cursor: pointer;
}

#bopomofo {
  font-size: 100px;
}

.yes-no {
  background-color: rgb(39, 39, 39);
  width: max-content;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 20px;
}

#answer-btns {
  display: flex;
}
